[Unit]
Description=Mount /dev/sda1 to /home/pi/hdd
Requires=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/bin/mount /dev/sda1 /home/pi/hdd
RemainAfterExit=true

[Install]
WantedBy=multi-user.target

